
<% layout("layouts/boilerplate") %>

<div class="row">
    <!-- Column that takes up half the space of its parent and is offset by a quarter of the parent's space -->
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <!-- The heading of the alert box, which displays the error message -->
            <h4 class="alert-heading"><%= err.message %></h4>
            <!-- The content of the alert box, which displays the error stack -->
            <p><%= err.stack %></p>
          </div>
    </div>
</div>
