<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    
    <h1>All Campgrounds</h1>
    <div>
        <!-- Link for adding a new campground -->
        <a href="/campgrounds/new">Add New Campground</a>
    </div>
    <!-- List of all campgrounds -->
    <ul>
         <!-- Loop through each campground and create a list item with a link to the campground -->
        <% for (let campground of campgrounds){%>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
        <% } %>    
    </ul>

</body>
</html>